:root {
  --text-small: 12px;
  --text-grey: gray;
  --text-black: black;
  --text-bold: 900;
}

* {
  font-family: arial, helvetica, sans-serif;
}

body {
  padding: 2rem;
}
/* coommon*/
.bold-h1 {
  font-family: none;
  font-weight: 900;
}

.text-black {
  color: black;
}

.text-black {
  color: grey;
}

.text-small {
  font-size: 12px;
}

.header {
  background: white;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.body {
  padding-top: 3rem;
}

.hero {
}
.header-links {
  display: inline-flex;
  margin-top: 0.5rem;
}
.body-links {
  display: table-cell;
  padding: 8px;
  vertical-align: middle;
}
small {
  display: -webkit-box;
  margin-top: 4px;
}
.body-links svg {
  background-color: rgb(235, 235, 235);
  width: 16px;
  height: 16px;
  padding: 6px;
  border-radius: 23px;
}
.body-links svg.secondcase {
  background-color: unset !important;
  height: unset;
  width: unset;
  padding: unset;
  border-radius: unset;
  text-decoration: none;
  color: gray;
}
section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  padding-left: 19rem;
  font-size: 32px;
}

.articledetail {
  display: flex;
  justify-content: space-between;
  width: 37rem;
  margin: auto;
}
.flexiblecontainer {
  display: flex;
  justify-content: space-between;
}
.flexiblecontainer-item {
  height: 15rem;
  width: 31.5%;

  margin-bottom: 4rem;
}
/* items*/

.item-one {
}

.item-one img {
  width: 100%;
}
.item-one figcaption {
  text-align: right !important;
  font-size: 11px;
  color: var(--text-grey);
  margin-bottom: 0;
  font-family: cursive;
}

.item-two {
}

.item-two a {
  font-family: nyt-cheltenham, georgia, "times new roman", sans-serif !important;
  position: relative;
  top: -12px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  color: #000;
  text-decoration: none;
  font-family: cursive;
}

.item-two span {
  text-align: left !important;
  display: block;
  margin-top: -29px;
}

.item-two span time {
  font-size: 13px;
  font-weight: 100;
  color: #999;
}

.specical-positioned-item {
  position: relative;
  top: 19rem;
}

.articledetailbottom {
  display: flex;
  justify-content: flex-end;
  width: 37rem;
  margin: auto;
  margin-bottom: 4rem;
}
.documentbottomside-b a {
  font-weight: 600;
  display: inherit;
  margin: 14px 0;
  padding-bottom: 4px;
}
.documentbottomside-a a {
  font-weight: 600;
  display: inherit;
  margin: 14px 0;
  padding-bottom: 4px;
}

.documentbottomside-b p {
  font-family: nyt-cheltenham, georgia, "times new roman", sans-serif;
  padding: 20px 0;
  border-top: 1px solid rgb(88, 88, 88);
  font-weight: 600;
  line-height: 1.6;
  color: rgb(18, 18, 18);
  font-size: 16px;
  width: 100%;
}
.articledetail p {
  font-size: 13px;
}
.documentbottom {
  display: flex;
  justify-content: space-between;
  width: 90% !important;
}
.boximg {
  display: inline;
  width: 59rem;
  margin: auto;
}
p.unhero {
  margin: unset;
  margin-top: 5px;
  width: 50rem;
  line-height: 1.3;
  font-size: 15px;
}
.downcheader {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  max-width: 600px;
  text-align: left;
  margin: 0 auto 1em;
  color: #999;
}
p.unherosec {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 5px;
  width: 37rem;
  line-height: 1.3;
  font-size: 15px !important;
}
p.unherosec small {
  color: rgba(0, 0, 0, 0.45);
}
.boximg img {
  width: 100%;
}
.body-header {
  display: flex;
  justify-content: left;
  width: 37rem;
  margin: auto;
  font-size: 14.5px;
}

section p {
  width: 37rem;
  margin: auto;
}

.header-btn button {
  margin-top: 3px;
  margin-left: 4px;
  background-color: #6288a5;
  color: white;
  font-variant-caps: all-small-caps;
  font-size: 15px;
  border: 1px solid #326891;
  border-radius: 4px;
  padding: 0 12px;
  height: 33px;
  padding-bottom: 4px;
  font-weight: 600;
}
.header-btn {
  display: inline-flex;
  float: right;
  margin-right: 1rem;
}
.header-links a {
  margin-left: 1rem;
}
.header-links label {
  margin-left: 1rem;
  margin-top: 0.25rem;
  font-weight: 600;
}
.buggedicon {
  margin-top: 1px;
}
.header svg {
  width: 12.2rem;
  position: absolute;
  padding-top: 0.6rem;
  top: 0px;
  left: 33.5rem;
}

.side-bar {
  float: right;
  width: 14em;
  position: absolute;
  bottom: -1500px;
  right: 0;
  padding: 2rem;
  margin-right: 70px;
}

.article {
  margin-bottom: 0.5rem;
}

.article hr {
  border-width: 0.7px;
  color: lightgrey;
}

.article h2 {
  font-size: 13px;
}
.article-link {
  display: flex;
  align-items: center;
  color: grey;
  text-decoration: none;
}

.article-link:hover {
  text-decoration: underline;
}
.article-link div {
  width: 10em;
}

.article-link div img {
  width: 50%;
}
.article-text {
  font-size: 14px;
  width: 10em;
  margin-left: -65px;
  font-weight: 500;
}

.body-paragraph {
  text-align: center;
}

.body-paragraph p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: left;
}
.body-paragraph-2 {
  text-align: center;
  margin-bottom: -15rem;
}
.body-paragraph-2 h2 {
  font-size: 17px;
  margin-left: -25rem;
  font-weight: 900;
}
.body-paragraph-2 :nth-child(2) {
  text-align: left;
  font-size: 13px;

  font-weight: 100;
  color: grey;
}
.body-image {
  width: 41rem;
}
.body-image-text {
  position: relative;
  top: -29em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.image-text {
}
.image-text p {
  width: 13rem;
  font-size: 12px;
  padding-right: 0.3rem;
  text-align: left;
}
.image-text p span {
  font-size: 12px;
  font-weight: 700;
}

.text-normal {
  font-weight: 400 !important;
}

.body-image-text-2 {
  position: relative;
  top: -19em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.documentbottom {
  width: 80%;
  margin: 0 auto;
}

/* footer */

.footer {
  border-top: 2px solid rgb(221, 221, 221);
  border-bottom: 2px solid rgb(221, 221, 221);
  margin: 65rem auto 0 auto;

  width: 90%;
}
.footer-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-header svg {
  width: 11rem;
  padding: 0.5rem;
  padding-left: 1px !important;
}
.footer-header a {
  padding: 0.5rem;
  margin-top: 7px;
  text-decoration: none;
  font-size: 9.7px;
  font-weight: 400;
  color: rgb(98, 136, 165);
}

.footer-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section {
}

.footer-list {
  padding-left: 0;
}

.footer-list h3 {
  font-size: 14px;
}

.footer-list li {
  list-style: none;
  line-height: 1.5rem;
}

.footer-list a {
  font-family: nyt-cheltenham, georgia, "times new roman", sans-serif;
  font-size: 14px;
  color: var(--text-grey);
  text-decoration: none;
}

.footer-list a:hover {
  text-decoration: underline;
}

.footer-sidebar {
  margin-top: 18px;
  border-left: 1px solid rgb(206, 206, 206);
}

.footer-sidebar ul {
  margin: 0 auto;
  padding: 1rem;
}

.footer-sidebar ul h3 {
  font-size: 14px;

  margin-top: -14px;
}

.footer-sidebar ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-sidebar ul li a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 11px !important;
}

.footer-sidebar ul li a:hover {
  text-decoration: underline;
}

.footer-sidebar ul:nth-child(1) li a {
  margin-bottom: 1rem;
  text-decoration: none;
  font-weight: var(--text-bold);
  color: var(--text-black);
  font-size: 16px !important;
}
.footer-sidebar ul:nth-child(1) li a:hover {
  text-decoration: underline;
}

.footer-sidebar ul:nth-child(1) li a:last-child {
  margin-bottom: -1rem;
}

.footer-sidebar ul:nth-child(2) {
}

.footer-sidebar ul:nth-child(2) li a {
  text-decoration: none;
  color: var(--text-grey);
}

.footer-sidebar ul:nth-child(2) li a:hover {
  text-decoration: underline;
}

.footer-sidebar ul:nth-child(3) {
  border-top: 1px solid rgb(206, 206, 206);
  padding-top: 10px;
}

.footer-sidebar ul:nth-child(3) li a {
  text-decoration: none;
  color: var(--text-grey);
  font-size: var(--text-small);
}
.footer-sidebar ul:nth-child(3) li a:hover {
  text-decoration: underline;
}

.css-r5ic95 {
  width: 10px;
  padding-right: 5px;
}

.footer-nav {
  text-align: center;

  margin: 0 auto;
  width: 80%;
}
.footer-nav ul {
}
.footer-nav ul li {
  display: inline-block;

  padding-right: 10px;
}

.footer-nav ul li a {
  font-size: 11px;
  text-decoration: none;
  color: rgb(185, 185, 185);
  font-weight: 100;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}
